{# form/theme.html.twig #}

{% extends 'form_div_layout.html.twig' %}

{% block form_label_errors %}{% endblock form_label_errors %}

{%- block button_widget -%}
    {% set attr = attr|merge({class: 'btn'}) %}
    {{ parent() }}
{%- endblock button_widget -%}

{%- block form_widget_simple -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' validate')|trim}) -%}
    {{ parent() }}
{%- endblock form_widget_simple -%}

{%- block form_rows -%}
    {% for child in form|filter(child => not child.rendered) %}
        {{- form_row(child) -}}
    {% endfor %}
{%- endblock form_rows -%}

{% block form_row -%}
    {%- if compound is defined and compound -%}
        {%- set element = 'fieldset' -%}
    {%- endif -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <{{ element|default('div') }} class="row form-group">
        <div class="input-field">
        {{- form_label(form) -}}

        {% if 'checkbox' not in block_prefixes %}
            {{- form_widget(form, widget_attr) -}}
        {% endif %}

        <span class="helper-text" data-error="{{- form_errors(form) -}}" data-success="">{{- form_help(form) -}}</span>

        {% if form.parent %}
            {% set parent = form.parent.vars.form %}
            {% if parent.vars is defined and parent.vars.allow_delete is defined and parent.vars.allow_delete %}
                <button class="btn remove" data-item-selector="{{ id }}" onclick="return collection_delete_value(this);">Remove</button>
            {% endif %}
        {% endif %}
        </div>
    </{{ element|default('div') }}>
{%- endblock form_row %}

{% block form_label %}
    {% if 'checkbox' in block_prefixes %}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <p>
            <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
                {{ form_widget(form) }}
                <span>
                    {%- if translation_domain is same as(false) -%}
                        {%- if label_html is not defined or label_html is same as(false) -%}
                            {{- label -}}
                        {%- else -%}
                            {{- label|raw -}}
                        {%- endif -%}
                    {%- else -%}
                        {%- if label_html is not defined or label_html is same as(false) -%}
                            {{- label|trans(label_translation_parameters, translation_domain) -}}
                        {%- else -%}
                            {{- label|trans(label_translation_parameters, translation_domain)|raw -}}
                        {%- endif -%}
                    {%- endif -%}
                </span>
            </{{ element|default('label') }}>
        </p>

        <label>
    {% else %}
        {% if compound is defined and compound %}
            {% set element = "legend" %}
        {% endif %}
        {{ parent() }}
    {% endif %}
{% endblock form_label %}


{% block collection_widget -%}
    {%- set attr = attr|merge({'class': "form-collection" }) -%}
    {%- set attr = attr|merge({'data-widget-counter': form.children|length }) -%}

    {{ parent() }}

    {%- if allow_add -%}
        <button class="btn add-value"
        onclick="collection_add_value(this)"
        data-list-selector="{{ form.vars.id }}"
        type="button">Add</button>
    {%- endif -%}
{%- endblock collection_widget %}
