<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')|first|default('en') }}">
<head>
{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>{% block page_title %}{% if pagename is defined %}{{ pagename }} - {% endif %}{{ material_theme.app.name }}{% endblock %}</title>

    {% block stylesheets %}
    <!-- CSS    -->
    <link href="{{ asset('assets/main.css', 'materialtheme') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    {% endblock %}
{% endblock head %}
</head>
<body {%- if material_theme.theme.classes is defined and not material_theme.theme.classes is empty %} class="{{ material_theme.theme.classes|join(' ') }}"{%- endif -%}>
{% block body %}
{% block content_wrapper %}
{% block header_wrapper %}
    {% set header_classes = ['page-header'] %}
    {%- if material_theme.theme.header.classes is defined %}
        {% set header_classes = header_classes|merge(material_theme.theme.header.classes) %}
    {%- endif -%}
    {%- if material_theme.theme.header.background is defined %}
        {% set color_classes = [
            material_theme.theme.header.background.base ?? '',
            material_theme.theme.header.background.type ?? ''
        ] %}
        {% set header_classes = header_classes|merge(color_classes) %}
    {%- endif -%}

    {% embed "@MaterialTheme/components/navbar.html.twig" %}
        {% set include_branding = true %}
        {% set include_nav_bar_links = true %}
        {% set include_mobile_nav = true %}
        {% set classes = header_classes %}

        {% block navbar_links %}
            <li><a href="#">Navbar Link</a></li>
        {% endblock navbar_links %}

        {% block mobile_nav_links %}
            <li><a href="#">Navbar Link</a></li>
        {% endblock mobile_nav_links %}
    {% endembed %}
{% endblock header_wrapper %}

{% block content %}
{% endblock content %}

{% block footer_wrapper %}
{% if material_theme.theme.footer is defined %}
    {% set footer_classes = ['page-footer'] %}
    {%- if material_theme.theme.footer.classes is defined %}
        {% set footer_classes = footer_classes|merge(material_theme.theme.footer.classes) %}
    {%- endif -%}
    {%- if material_theme.theme.footer.background is defined %}
        {% set color_classes = [
            material_theme.theme.footer.background.base ?? '',
            material_theme.theme.footer.background.type ?? ''
        ] %}
        {% set footer_classes = footer_classes|merge(color_classes) %}
    {%- endif -%}

    <footer class="{{ footer_classes|join(' ') }}">
        {% block footer_info_wrapper %}
        <div class="container">
                {% block footer_info %}
                {% endblock footer_info %}
                </div>
        {% endblock footer_info_wrapper %}

        {% set footer_copyright_classes = ['footer-copyright'] %}
        {%- if material_theme.theme.footer.copyright.classes is defined %}
            {% set footer_copyright_classes = footer_copyright_classes|merge(material_theme.theme.footer.copyright.classes) %}
        {%- endif -%}
        <div class="{{ footer_copyright_classes|join(' ') }}">
            <div class="container">
                {% block footer_copyright %}
                        Made with <a class="white-text text-lighten-2" href="http://materializecss.com">Materialize</a>
                {% endblock footer_copyright %}
            </div>
        </div>
    </footer>
{% endif %}
{% endblock footer_wrapper %}
{% endblock content_wrapper %}

{% block body_javascript %}
    <!--    Scripts-->
    <script src="{{ asset('assets/main.js', 'materialtheme') }}"></script>
{% endblock body_javascript %}

{% endblock body %}
    </body>
</html>
