{# src/resources/views/templates/form.html.twig #}

{% extends "@MaterialTheme/theme.html.twig" %}

{% form_theme form with '@MaterialTheme/form/theme.html.twig' only %}

{% block stylesheets %}
    {{ parent() }}
     <link rel="stylesheet" href="{{ asset('assets/templates/form.css', 'materialtheme') }}" />
{% endblock %}

{% block content %}
    <div class="container">
        <div class="section">
    {{ form(form) }}
        </div>
    </div>
{% endblock content %}

{% block body_javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/templates/form.js', 'materialtheme') }}"></script>
{% endblock body_javascript %}